body{
  font-family: Arial, Helvetica, sans-serif;
  background: #ececec;
  margin:0;
  padding:0;
}

.title{
  text-align:center;
  margin-top:40px;
  font-size:32px;
  font-weight:bold;
}

.container{
  width: 60%;
  margin: 30px auto;
}

.card{
  background:#f4f4f4;
  padding:20px;
  margin:25px 0;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card h2{
  margin:0 0 10px 0;
}

.age{
  margin:8px 0;
}

.desc{
  font-style:italic;
  color:#555;
  margin-bottom:10px;
}

.extra{
  margin-top:10px;
  font-weight:500;
}
